// Body
$body-bg: #f8fafc;
*{
    margin: 0;
    padding: 0;
    position: relative;
}

html
{
    scroll-behavior: smooth;
}

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

.shadow-custom {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25), 0 3px 10px 5px rgba(0, 0, 0, 0.05) !important;
  }
